* {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    text-align: center;
}

.container {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vw;
}

.box {
    height: 25vmin;
    width: 25vmin;
    border-radius: 3vw;
    border: none;
    box-shadow: 0 0 1rem rgb(65, 65, 65);
    font-size: 50px;
    color: brown;
    text-align: center;
    font-weight: bold;
    background-color: rgb(155, 84, 220);
    cursor: pointer;
}

#reset-btn {
    height: 35px;
    width: 20vmin;
    border-radius: 20px;
    padding-top: 3px;
    margin-top: 22vmin;
    font-size: 15px;
    background-color: rgb(52, 52, 242);
    color: white;
    box-shadow: 0 0 1rem rgb(65, 65, 65);
    cursor: pointer;
}

#new-btn {
    height: 35px;
    width: 20vmin;
    border-radius: 20px;
    padding-top: 3px;
    margin-top: 1vmin;
    font-size: 15px;
    background-color: rgb(52, 52, 242);
    color: white;
    box-shadow: 0 0 1rem rgb(65, 65, 65);
    cursor: pointer;
}

#msg {
    color: rgb(230, 19, 166);
    font-size: 5vmin;
}

.msg-container {
    height: 30vmin;
}

.hide {
    display: none;
}